{
  pihole = {
    webpassword = "your-pihole-password-here";
  };
  plex = {
    claim = "your-plex-claim-token-here";
  };
  prometheus = {
    adminPassword = "your-grafana-admin-password-here";
  };
  qbittorrent = {
    vpnPassword = "your-vpn-password-here";
  };
  initialPassword = "your-initial-password-here";
}
